body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #f0f0f0;
    padding: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.section {
    display: none;
}

#horaire-section {
    display: block;
}

button {
    margin: 5px;
    padding: 10px;
}

#metro-buttons img {
    margin: 5px;
    cursor: pointer;
    width: 30px;  /* Ajuster la taille des logos selon vos besoins */
    height: 30px; /* Ajuster la taille des logos selon vos besoins */
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}

.schedule-item .destination {
    font-weight: bold;
    margin-right: 10px; /* Ajouter un espace entre destination et temps */
}

.schedule-item .time {
    font-style: italic;
}
