<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horaire et Statistiques</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#" onclick="showSection('horaire')">Horaire</a></li>
                <li><a href="#" onclick="showSection('statistique')">Statistique</a></li>
            </ul>
        </div>
        <div class="content">
            <div id="horaire-section" class="section">
                <h2>Horaire</h2>
                <div id="tram-buttons">
                    <!-- Boutons pour chaque tram -->
                    <img src="/static/images/tramway.png" alt="Metro logo">
                    <img src="/static/images/tram_1.png" alt="Tramway 1" onclick="loadStopsNames('T1', 'tram')">
                    <img src="/static/images/tram_2.png" alt="Tramway 2" onclick="loadStopsNames('T2', 'tram')">
                    <img src="/static/images/tram_3a.png" alt="Tramway 3a" onclick="loadStopsNames('T3a', 'tram')">
                    <img src="/static/images/tram_3b.png" alt="Tramway 3b" onclick="loadStopsNames('T3b', 'tram')">
                    <img src="/static/images/tram_4.png" alt="Tramway 4" onclick="loadStopsNames('T4', 'tram')">
                    <img src="/static/images/tram_5.png" alt="Tramway 5" onclick="loadStopsNames('T5', 'tram')">
                    <img src="/static/images/tram_6.png" alt="Tramway 6" onclick="loadStopsNames('T6', 'tram')">
                    <img src="/static/images/tram_7.png" alt="Tramway 7" onclick="loadStopsNames('T7', 'tram')">
                    <img src="/static/images/tram_8.png" alt="Tramway 8" onclick="loadStopsNames('T8', 'tram')">
                    <img src="/static/images/tram_9.png" alt="Tramway 9" onclick="loadStopsNames('T9', 'tram')">
                    <img src="/static/images/tram_10.png" alt="Tramway 10" onclick="loadStopsNames('T10', 'tram')">
                    <img src="/static/images/tram_11.png" alt="Tramway 11" onclick="loadStopsNames('T11', 'tram')">
                    <img src="/static/images/tram_12.png" alt="Tramway 12" onclick="loadStopsNames('T12', 'tram')">
                    <img src="/static/images/tram_13.png" alt="Tramway 13" onclick="loadStopsNames('T13', 'tram')">
                </div>
                <div id="metro-buttons">
                    <!-- Boutons pour chaque métro -->
                    <img src="/static/images/metro.png" alt="RER logo">
                    <img src="/static/images/metro_1.png" alt="Métro 1" onclick="loadStopsNames('1', 'metro')">
                    <img src="/static/images/metro_2.png" alt="Métro 2" onclick="loadStopsNames('2', 'metro')">
                    <img src="/static/images/metro_3.png" alt="Métro 3" onclick="loadStopsNames('3', 'metro')">
                    <img src="/static/images/metro_4.png" alt="Métro 4" onclick="loadStopsNames('4', 'metro')">
                    <img src="/static/images/metro_5.png" alt="Métro 5" onclick="loadStopsNames('5', 'metro')">
                    <img src="/static/images/metro_6.png" alt="Métro 6" onclick="loadStopsNames('6', 'metro')">
                    <img src="/static/images/metro_7.png" alt="Métro 7" onclick="loadStopsNames('7', 'metro')">
                    <img src="/static/images/metro_8.png" alt="Métro 8" onclick="loadStopsNames('8', 'metro')">
                    <img src="/static/images/metro_9.png" alt="Métro 9" onclick="loadStopsNames('9', 'metro')">
                    <img src="/static/images/metro_10.png" alt="Métro 10" onclick="loadStopsNames('10', 'metro')">
                    <img src="/static/images/metro_11.png" alt="Métro 11" onclick="loadStopsNames('11', 'metro')">
                    <img src="/static/images/metro_12.png" alt="Métro 12" onclick="loadStopsNames('12', 'metro')">
                    <img src="/static/images/metro_13.png" alt="Métro 13" onclick="loadStopsNames('13', 'metro')">
                    <img src="/static/images/metro_14.png" alt="Métro 14" onclick="loadStopsNames('14', 'metro')">
                </div>
                <div id="transilien-buttons">
                    <!-- Boutons pour chaque transilien -->
                    <img src="/static/images/transilien.png" alt="Transilien logo">
                    <img src="/static/images/transilien_h.png" alt="Transilien H" onclick="loadStopsNames('H', 'transilien')">
                    <img src="/static/images/transilien_j.png" alt="Transilien J" onclick="loadStopsNames('J', 'transilien')">
                    <img src="/static/images/transilien_k.png" alt="Transilien K" onclick="loadStopsNames('K', 'transilien')">
                    <img src="/static/images/transilien_l.png" alt="Transilien L" onclick="loadStopsNames('L', 'transilien')">
                    <img src="/static/images/transilien_n.png" alt="Transilien N" onclick="loadStopsNames('N', 'transilien')">
                    <img src="/static/images/transilien_p.png" alt="Transilien P" onclick="loadStopsNames('P', 'transilien')">
                    <img src="/static/images/transilien_r.png" alt="Transilien R" onclick="loadStopsNames('R', 'transilien')">
                </div>
                <div id="rer-buttons">
                    <!-- Boutons pour chaque rer -->
                    <img src="/static/images/rer.png" alt="RER logo">
                    <img src="/static/images/rer_a.png" alt="RER A" onclick="loadStopsNames('A', 'rer')">
                    <img src="/static/images/rer_b.png" alt="RER B" onclick="loadStopsNames('B', 'rer')">
                    <img src="/static/images/rer_c.png" alt="RER C" onclick="loadStopsNames('C', 'rer')">
                    <img src="/static/images/rer_d.png" alt="RER D" onclick="loadStopsNames('D', 'rer')">
                    <img src="/static/images/rer_e.png" alt="RER E" onclick="loadStopsNames('E', 'rer')">
                </div>
                <div id="stops-list">
                    <!-- Les noms des arrêts sont affichés ici -->
                </div>
                <div id="schedules-container">
                    <!-- Les horaires des arrêts sont affichés ici -->
                </div>
                <button onclick="refreshSchedules()">Actualiser</button> <!-- Bouton Actualiser -->
            </div>
            <div id="statistique-section" class="section" style="display:none;">
                <h2>Statistique</h2>
                <!-- Contenu des statistiques ici -->
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
